
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <script src="https://kit.fontawesome.com/0f2d543076.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/theme/brite/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.extend.css">
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/button-extend.css" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="icon" href="~/assets/icons/logo.png" />

    <title>@ViewData["Title"] | HMS</title>
</head>
<body>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/js/sweetalert2-extend.js"></script>
    <script src="https://kit.fontawesome.com/0f2d543076.js" crossorigin="anonymous"></script>
    <partial name="_ValidationScriptsPartial"></partial>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>